services:
  - type: web
    name: btcs-backend
    runtime: node
    region: singapore
    plan: free
    buildCommand: npm install && npm run build
    startCommand: node dist/src/index.js
    healthCheckPath: /
    envVars:
      - key: NODE_ENV
        value: production
      - key: FRONTEND_LOCAL
        sync: false
      - key: FRONTEND_VERCEL
        sync: false
      - key: FIREBASE_PROJECT_ID
        sync: false
      - key: FIREBASE_CLIENT_EMAIL
        sync: false
      - key: FIREBASE_PRIVATE_KEY
        sync: false
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
